# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
MonOOPoly/.vs/MonOOPoly/FileContentIndex/ad6506c9-3262-4ef3-b221-c8f169033b45.vsidx
MonOOPoly/.vs/MonOOPoly/v17/Browse.VC.opendb
